*{
    margin: 0;
    font-family: 'VT323', monospace;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: gray;
    background-color: black;
}

button{
    display: flex;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    height: 9vh;
    width: 25vw;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 7vh;
    align-items: center;
    justify-content: center;
    outline: none;
}

button:hover{
    cursor: pointer;
}

#bottomContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

h3{
    margin-top: 8px;
    font-size: 7vh;
    font-weight: normal;
}

#usernameInput{
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-size: 7vh;
    margin-top: 8px;
}

input:focus, input:active{
    outline: none;
}

table{
    border: 5px solid white;
    font-size: 8vh;
    text-align: center;
    margin: 5vw;
}
th{
    border-bottom: 5px dashed white;
    font-weight: normal;

}
h1{
    font-size: 15vh;
    text-align: center;
    font-weight: normal;
}

#backButton{
    font-size: 6vh;
    margin-left: 5vw;
    margin-top: 1vh;
}

a{
    text-decoration: none;
}

button:hover, a:hover, h3:hover{
    color:lightyellow;
}

h4{
    text-decoration: underline;
    font-weight: normal;
}

.themeButton:hover{
    cursor: pointer;
}

.activeTheme{
    font-weight: bold;
}

.og, .og #usernameInput, .og h3, .og Button, .og a, .og p, .og h4{
    background-color: black;
    color: rgb(200,200,200);
}

.gb, .gb #usernameInput, .gb h3, .gb Button, .gb a, .gb p, .gb h4{
    background-color: rgb(155,188,15);
    color: rgb(48,98,48);

}

.vb, .vb #usernameInput, .vb h3, .vb Button, .vb a, .vb p, .vb h4{
    background-color: #a40000;
    color: #ef0000;
}

#bottomContainer.og{
    border-bottom: 5px dashed rgb(200,200,200);
}

#bottomContainer.gb{
    border-bottom: 5px dashed rgb(48,98,48);
}

#bottomContainer.vb{
    border-bottom: 5px dashed #ef0000;
}
