@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto:wght@100&display=swap');
.mainWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    font-family: 'Ephesis', cursive;;
}

header img{
    border: 1px solid black;
    border-radius: 10px;
    transform: rotate(10deg);
    box-shadow: 5px 2px gray;
}

.bodyWrapper{
    display: grid;
    grid-gap: 0;
}

.galleryWrapper{
    grid-column-end: span 1;
    grid-row-start: 3;
    border: 1px dashed red;
}

.galleryWrapper figcaption{
    font-family: 'Roboto', sans-serif;
    
}

.galleryWrapper img{
    height: 25vh;
}

.articleWrapper{
    grid-row-start: 2;
    grid-column-end: span 1;
    border: 1px dashed red;
    font-family: 'Roboto', sans-serif;
}

.articleWrapper p{
    color: red;
}

#inlineImg1{
    margin: 10px;
    height: 15vh;
    float: left;
    margin-left: auto;
}

#inlineImg2{
    margin: 10px;
    height: 15vh;
    float: right;
}

aside{
    margin: 5px;
    font-size: 2vh;
    float: left;
    font-family: 'Ephesis', cursive;;
    background-color: coral;
    max-width: 50%;
}

blockquote{
    margin: 2px;
}

#inlineQuote1{
    float: right;
}

#inlineQuote2{
    float: left;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: cyan;
    font-size: 1.5vh;
}

@media only screen and (min-width: 800px) {
    .articleWrapper p{
        grid-column-start: 2;
        color: blue;
    }
    .bodyWrapper{
        grid-template-columns: 1fr 4fr;
    }
    .columnsWrapper{
        column-count: auto;
        column-gap: 40px;
        column-width: 300px;
    }
    .galleryWrapper{
        grid-column-end: span 1;
        grid-row-start: 2;
    }
}

@media only screen and (min-width: 1200px) {
    .articleWrapper p{
        color: black;
    }
}